In [1]:
print("hello , Neeha!")

hello , Neeha!

In [2]:
#Print your name, age, and favorite color.
print("MY NAME IS NEEHA","MY  AGE IS 21", "MY FAV COLOR IS BLACK")

MY NAME IS NEEHA MY  AGE IS 21 MY FAV COLOR IS BLACK

In [9]:
print("*")
print("**")
print("***")

*
**
***

In [10]:
#Data Types & Variables
#Take two numbers as input and print their sum.
A= input("enter a number:")
B= input("enter a number:")
sum= A+B;
print(sum)

enter a number: 2
enter a number: 3

23

In [11]:
#Store your name in a variable and print it.
name= "Neeha"
print(name)

Neeha

In [12]:
#Convert string "10" to an integer and multiply by 5.
num = 10
convert = int(num)
result= convert*5
print(result)

50

In [24]:
#Take user's age and check if they are above 18.

age= int(input("enter your age:"))
if age<18:
    print("underage")
else : 
  print("adult")

enter your age: 20

adult

In [28]:
#3. Operators
#Write a program to find the square and cube of a number.
num= int(input("enter a number:"))
result1= (num)**2
result2=(num)**3
print(result1)
print(result2)

enter a number: 2

4
8

In [33]:
#Take two numbers and print which is greater.
input1=int(input("enter a number:"))
input2=int(input("enter a number:"))
if input1> input2:
           print(input1 ,"is greater than ",input2)
elif input1< input2:
           print(input2 ,"is greater than ", input1)
else:
   print("both are equal")

enter a number: 2
enter a number: 22

22 is greater than  2

In [34]:
#Use all arithmetic operators in one program.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division (float):", a / b)
print("Modulus (remainder):", a % b)
print("Floor Division:", a // b)
print("Exponentiation (a to the power b):", a ** b)

Enter first number:  2
Enter second number:  3

Addition: 5
Subtraction: -1
Multiplication: 6
Division (float): 0.6666666666666666
Modulus (remainder): 2
Floor Division: 0
Exponentiation (a to the power b): 8

In [35]:
#check if a number is between 10 and 20 using logical operators (and)
num = int(input("Enter a number: "))

if num >= 10 and num <= 20:
    print("The number is between 10 and 20.")
else:
    print("The number is NOT between 10 and 20.")

Enter a number:  13

The number is between 10 and 20.

In [37]:
#Control Flow
#Check if a number is positive, negative, or zero.
num1 = int(input("enter a number:"))
if num1>0:
    print("positive")
elif num1<0:
    print("negative")
else:
    print("zero")

enter a number: 0

zero

In [40]:
#Take a number and check if it is even or odd.
num=int(input("enter a number:"))
if num %2==0:
 print("even")
else:
    print("odd")

enter a number: 2

even

In [45]:
#find the largest of 3 numbers.
num1 = int(input("enter a number:"))
num2 = int(input("enter a number:"))
num3 = int(input("enter a number:"))
if (num1 >=num2  and num1>=num3):
    print(num1,"is greater")
elif num2>= num3:
    print(num2,"is greater")
else:
    print(num3,"is greater")

enter a number: 56
enter a number: 67
enter a number: 33

67 is greater

In [46]:
#Grade a student based on marks (>=90: A, 80-89: B, else: C).
student= float(input("enter marks:"))
if student>=90:
    print(student, "Got A+ grade")
elif student>=80:
    print(student, "Got A grade")
elif student>=70:
    print(student, "Got B+ grade")
elif student>=60:
    print(student," GOT B grade")
elif  student>= 50:
    print(" GOT C+ grade")
elif student >=40:
   print("GOT c grade")
else:
    print("GOT D grade")

enter marks: 30

GOT D grade

In [55]:
#Loops while loop
"""i = 1
while i < 6:
  print(i)
  i += 1 """
#Print numbers from 1 to 10 using a while loop.

i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [60]:
#Print multiplication table of a number (input).
num1 =int(input("enter a numner:"))
for i in range(1,11):
    print(f" {num}*{i} ={num*i}")

enter a numner: 2

 2*1 =2
 2*2 =4
 2*3 =6
 2*4 =8
 2*5 =10
 2*6 =12
 2*7 =14
 2*8 =16
 2*9 =18
 2*10 =20

In [66]:
#Find the factorial of a number
num = int(input("enter a number:"))
fact =1
for i in range(1,num+1):
   fact *= i
print("factorial of",num,"is", fact)

#where num=5
# fact =1
# i=1-->fact=1*1 =1
#i=2-->fact=1*2 =2
#i=3-->fact=2*1=2----->fact=2
#.....fact=2*2=4

enter a number: 4

factorial of 4 is 24

In [67]:
#Reverse a number using a while loop.
num = int(input("Enter a number: "))
reverse = 0

while num != 0:
    digit = num % 10          # Get the last digit
    reverse = reverse * 10 + digit  # Append digit to reversed number
    num = num // 10           # Remove the last digit

print("Reversed number:", reverse)

Enter a number:  3

Reversed number: 3

In [78]:
for i in range(1, 4):      
    for j in range(1, i + 1):  
        print(j, end="")     
    print()         
    


#hear i--->(1,4)-----(1,2,3)
#i=1;
#j=(1,(i+1)-->(1+1))----->(1,2)---->then 1
#end 
#so print===>1

#i=2;
#j=(1,(2+1))---------->j(1,3)----->then 1,2
# end
#so print===>12

#i=3
#j=(1,(3+1))--------->j(1,4)===>then 1,2,3
 
 #so print====>123

1
12
123

In [77]:
#Take a string input and print its length
name= input("enter your name:")
print(len(name))

enter your name: neeha

5

In [79]:
#Print first and last character of a string.
text = input("Enter a string: ")

# Check if the string is not empty
if len(text) > 0:
    print("First character:", text[0])
    print("Last character:", text[-1])
else:
    print("You entered an empty string.")

Enter a string:  neeha

First character: n
Last character: a

In [80]:
#Count how many times "a" appears in a string.
txt=input("enter a txt:")
count = txt.count('a')
print(count)

enter a txt: neehaaaa

4

In [81]:
#Convert a sentence to lowercase 
txt=input("enter a txt:")
sentence = txt.lower()
print(sentence)

enter a txt: NEEHa

neeha

In [84]:
#replace a word
txt= ("hello neeha, how is your day")
replace= txt.replace("hello","hi").replace("is","was")
print(replace)

hi neeha, how was your day

In [85]:
#Reverse a string using slicing.
#tct[start:end:step]
txt=input("enter a txt:")
reverse=txt[::-1]
print(reverse)

enter a txt: neeha

aheen

In [86]:
#Lists
#Create a list of 5 numbers and print the third one.
list1=[1,2,3,4,5,6,7]
print(list1[3])

4

In [93]:
#Add an item to the list and print the list.
list2=["neeha","nani","fatima","manu","hima","dinesh"]
list2.append("pooja")
print(list2)

['neeha', 'nani', 'fatima', 'manu', 'hima', 'dinesh', 'pooja']

In [97]:
#Add an item to the list and print the list.(,ultiple items)
list2=["neeha","nani","fatima","manu","hima","dinesh"]
list2.extend(["pooja","sam","varshi"])
print(list2)

['neeha', 'nani', 'fatima', 'manu', 'hima', 'dinesh', 'pooja', 'sam', 'varshi']

In [99]:
#Sort a list 

number=[1,75,32,96,77]
number.sort()
print(number)

[1, 32, 75, 77, 96]

In [100]:
#Merge two lists and print the combined list.


list2=["k","hii","dee","ii"]
listofpeople=list1+list2
print(listofpeople)

['sonu', 'ravi', 'me', 'she', 'k', 'hii', 'dee', 'ii']

In [107]:
#remove an element.

list1=["sonu","ravi","me","she"]
list1.remove("me")
list1.pop(1)
print(list1)

['sonu', 'she']

In [108]:
#Create a nested list (2D list) and print one value inside.
marks = [
    [80, 75, 90],    # Marks of Student 1
    [60, 85, 70],    # Marks of Student 2
    [95, 88, 92]     # Marks of Student 3
]
print("Student 1's first subject mark:", marks[0][0])  # 80
print("Student 2's second subject mark:", marks[1][1])  # 85
print("Student 3's third subject mark:", marks[2][2])  # 92

Student 1's first subject mark: 80
Student 2's second subject mark: 85
Student 3's third subject mark: 92

In [109]:
#Tuples
#Create a tuple of 3 numbers and access index 1.

tuple1=("neeha","swathi","lii","meee")
print(tuple1[1])

swathi

In [115]:
#Convert a list to tuple and count an element.
list1 = [2, 3, 4, 5, 5]

Q = tuple(list1)       
count = Q.count(5)      
print(Q)
print( count)

(2, 3, 4, 5, 5)
2

In [117]:
#Create a set of 3 colors and add a new color.
set1={"black","pink"}
set1.add("green")
print(set1)

{'pink', 'green', 'black'}

In [120]:
#Find the union and intersection of two sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)
u= x.intersection(y)
print(z)
print(u)

{'microsoft', 'google', 'banana', 'cherry', 'apple'}
{'apple'}

In [122]:
#Remove duplicate items from a list using set.
list1=["apple","aaaa","bbbbb","aaaa","cccc","apple"]
rem= set(list1)
print(rem)
him= list(rem)

{'bbbbb', 'cccc', 'apple', 'aaaa'}

In [123]:
#dictionary 
#Create a dictionary and print 
student = {
    "name": "Neeha",
    "age": 20,
    "city": "Hyderabad"
}
print("Name:", student["name"])
print("Age:", student["age"])
print("City:", student["city"])

Name: Neeha
Age: 20
City: Hyderabad

In [124]:
#Update a value and add a new key
# Update existing value
student["age"] = 21

# Add new key-value
student["course"] = "Python"

# Print updated dictionary
print(student)

{'name': 'Neeha', 'age': 21, 'city': 'Hyderabad', 'course': 'Python'}

In [125]:
# Loop through keys and values
for key, value in student.items():
    print(key, ":", value)

name : Neeha
age : 21
city : Hyderabad
course : Python

In [130]:
print("end")

end